@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

.toast {
  position: absolute;
}

.divider {
  height: 1rem;
}

.wrapper {
  display: grid;
  height: 100vh;
  place-items: center;
}
